.report {
    border : solid gray 1px;
    margin: 2px 0;
}
.report:hover {
    background-color: #d3f9d3;
}
.cell-container{
    width: fit-content;
    overflow-x: scroll;
}
.cell{
    text-align: center;
    vertical-align: middle;
    margin: auto;
}
.cell-content{
    width: 100%;
    height: 100%;
    background-color: rgb(197,236,175);
}
.cell-content:hover{
    background-color: rgb(164, 197, 146);
}
.report-cell{
    background-color: cadetblue;
    height: 100%;

    /*display: grid-cell;*/
}
.report-cell-content{
    padding: 2px;
    font-size: 10pt;
}
.date-cell{
    width: 100px;
}
.report-column{
    width: 130px;
    display: inline-block;
    height: 100%;
}
.report-column:hover{
    background-color: gray;
}
.report-row{
    background-color: pink;
    border-bottom: solid yellow 1pt;
}
.user-cell{
    position: absolute;
    width: 5em;
    left: 0;
    top: auto;
    border-top-width: 1px;
    margin-top: -1px;
}
.middle{
    width: 100%;
    text-align: center;
}